body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*? layout Rule  */
.icon {
  font-size: 4rem;
}
.flex {
  display: flex;
  /* padding: 2px; */
  margin: 2px;
}
.small-icon {
  font-size: 1.5rem;
}

.container {
  max-width: 140rem;
  padding: 1rem 2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 6.4rem;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

/*css for card */
.card {
  /* position: absolute; */
  /* right: 1rem; */
  /* height: 40%; */
  background-color: white;
  border-radius: 10px;
  width: 300px;
  height: 80vh;
  /* text-align: center; */
  /* border: 2px solid black; */
}
.card img {
  position: relative;
  height: auto;
}
.padding {
  padding: 15px;
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
/*weather*/
.weather {
  border-radius: 10px;
  width: 30vw;
  position: absolute;
  left: 2rem;
  bottom: 2rem;
}
.date-time {
  background: #ff4ade;
  display: flex;
  /* border-radius: 10px; */
  /* border: 2px solid black; */
  color: white;
  justify-content: space-around;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.date-time p {
  font-weight: 600;
  font-size: 1.2rem;
  /* padding: 10px; */
}
.live-weather {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 5px; /* Gap between grid items */
  padding: 15px;
  background: #101744;
  color: white;
  text-align: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.left-border {
  border-left: 2px solid white;
}
/*Browser page layout*/
.browse-layout {
  display: flex;
  /* grid-template-columns: 2fr 1fr; */
  gap: 16px;
  width: 100vw;
}

.super-logo {
  font-family: Single Day;
  font-size: 47.33px;
  font-weight: 400;
  line-height: 66.12px;
  text-align: left;
  color: #72db73;
}
h1 {
  color: white;
}
.suggestion-head {
  display: flex;
  justify-content: space-between;
}
/*user card container*/
.user-card-container {
  width: 32vw;
  min-height: 40vh;
  background: #5746ea;
  border-radius: 12px;
  padding: 6px;
  display: flex;
  gap: 12px;
}
.user-info-container h1 {
  font-size: larger;
  font-weight: 700;
}
/*Notes conatiner*/
.notes-container {
  height: 60vh;
  width: 30vw;
  background: #f1c75b;
  border-radius: 12px;
  padding: 6px;
  position: relative;
}
